In [3]:

from openpyxl import Workbook
book = Workbook()
sheet = book.active
sheet['A1'] = 56

book.save("sample.xlsx")
lw=openpyxl.load_workbook("sample.xlsx")
ss=lw
ss_sheet = ss['Sheet']
ss_sheet.title = 'Numbers'
ss.save("sample.xlsx")
wb2 = lw
wb2.create_sheet('Alphabet')
wb2.save('sample.xlsx')

In [58]:
from openpyxl import Workbook
from openpyxl.utils import get_column_letter
wb = Workbook()
dest_filename = 'empty_book.xlsx'
ws1 = wb.active
ws1.title = "range names"
for row in range(1, 40):
    ws1.append(range(600))
wb.save(filename = dest_filename)
book = openpyxl.load_workbook(dest_filename)
sheet = book['range names']
for row in sheet.rows:
    print(row[1].value)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [1]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [19]:
import pandas as pd
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.to_numeric(s1, errors='coerce')
print(s2)
new_s = pd.Series(s1).sort_values()
print(new_s)
s3=pd.Series(['500', 'php'])
new_s = pd.concat([s1, s3])
print(new_s)
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Mean of the said Data Series:{}".format(s.mean()))
print("Standard deviation of the said Data Series:{}".format(s.std()))
series1 = pd.Series(['Php', 'Python', 'Java', 'C#'])
result = series1.map(lambda x: len(x))
print("\nNumber of characters in each word in the said series:{}".format(result))
s4=pd.Series(['A','A','B'])
print(s4.value_counts())

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64
0       100
1       200
3    300.12
4       400
2    python
dtype: object
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object
Mean of the said Data Series:4.818181818181818
Standard deviation of the said Data Series:2.522624895547565

Number of characters in each word in the said series:0    3
1    6
2    4
3    2
dtype: int64
A    2
B    1
dtype: int64

In [1]:
import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool